<section class="team">
	<img src="img/team-bg.svg" alt="figures" aria-hidden="true" class="team__figure">
	<div class="container">
		<h2 class="title team__title">Наша команда</h2>
		<!-- /.title team__title -->
		<ul class="team__list list-reset grid">
			<li class="team__item">
				<img src="img/team-1.jpg" alt="Максим Золотарёв" class="team__img">
				<strong class="team__subtitle">Максим Золотарёв</strong>
				<span class="team__post">Администратор</span>
			</li>
			<!-- /.team__item -->
			<li class="team__item">
				<img src="img/team-2.jpg" alt="Максим Золотарёв" class="team__img">
				<strong class="team__subtitle">Максим Золотарёв</strong>
				<span class="team__post">Администратор</span>
			</li>
			<!-- /.team__item -->
			<li class="team__item">
				<img src="img/team-3.jpg" alt="Максим Золотарёв" class="team__img">
				<strong class="team__subtitle">Максим Золотарёв</strong>
				<span class="team__post">Администратор</span>
			</li>
			<!-- /.team__item -->
			<li class="team__item">
				<img src="img/team-4.jpg" alt="Максим Золотарёв" class="team__img">
				<strong class="team__subtitle">Максим Золотарёв</strong>
				<span class="team__post">Администратор</span>
			</li>
			<!-- /.team__item -->
			<li class="team__item">
				<img src="img/team-5.jpg" alt="Максим Золотарёв" class="team__img">
				<strong class="team__subtitle">Максим Золотарёв</strong>
				<span class="team__post">Администратор</span>
			</li>
			<!-- /.team__item -->
			<li class="team__item">
				<img src="img/team-6.jpg" alt="Максим Золотарёв" class="team__img">
				<strong class="team__subtitle">Максим Золотарёв</strong>
				<span class="team__post">Администратор</span>
			</li>
			<!-- /.team__item -->
		</ul>
		<!-- /.team__list grid -->
	</div>
	<!-- /.container -->
</section>
<!-- /.team -->
